.frontBox{
    background-color:  rgb(188, 188, 188) ;
    height: 700px;
    display: flex;
    justify-content: space-evenly;  
    align-items: center
} 
.frontBoxContainer{
    display: flex;
    justify-content: space-evenly;
    
    border: 1px solid black;
    margin: 60px;
}
.firstPart{
    border: 1px solid black ;
    display : flex ;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 
    margin: 40px ;
    padding: 50px;

}
 .headingFront{
    font-size: 30px;
 }
 .headingFront1{
    font-size: 50px;
 }
 .para{
    font-size: 20px;
 }
 .secondPart{
    width: 350px;
    overflow: hidden;
   margin: 40px;
 }

.btn1 , .btn2{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: none;
    
}
.secondPart{
    border: 1px solid black;
}
